@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Fira Code", monospace;
  box-sizing: border-box;
}
body {
  background-color: #041c32;
  color: lightgrey;
}
.App {
  padding: 30px;
}
h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 35px;
}
h4 {
  font-size: 20px;
  color: #064663;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.todo {
  position: relative;
  background-color: #22577e;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  transition: 0.7s;
  cursor: pointer;
  margin-bottom: 16px;
  min-width: 270px;
  padding-right: 50px;
}
.todo:hover {
  opacity: 0.7;
}

.todo .checkbox {
  width: 20px;
  height: 20px;

  margin-right: 18px;
  border-radius: 999px;
  background-color: #041c32;
  transition: 0.4s;
}

.todo.is-checked .checkbox {
  background-color: #041c32;
  background-image: linear-gradient(to bottom, purple, rgb(211, 75, 98));
}

.todo .text {
  font-size: 20px;
}
.todo.is-checked .text {
  text-decoration: line-through;
}
.delete {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  color: lightgrey;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #af1e2d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.addPopUp {
  position: fixed;
  bottom: 5%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 64px;
  background-color: lightgrey;
  color: #064663;
  font-weight: 500;
  font-size: 60px;
  cursor: pointer;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 300px;
  height: 100px;
  background-color: #ecb365;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  color: #064663;
}
.closePopUp {
  position: fixed;
  bottom: 70%;
  right: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 64px;
  background-color: #064663;
  color: #ecb365;
  font-weight: 450;
  font-size: 20px;
  cursor: pointer;
}
.button {
  margin: 10px 0;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #064663;
  border-radius: 8px;
  color: #ecb365;
  font-size: larger;
  cursor: pointer;
}
.add-input {
  background-color: #064663;
  color: #ecb365;
}
